body{
  max-width: 100%;
  overflow-x: hidden;
}

#foot{
   height:100px;
   background-color:black;
   position:relative;
   margin-top: 18px;
   margin-left: -7px;
   margin-right: -27px;
   display:grid;
   grid-template-columns: repeat(3,1fr);
}  
 #fitlogo2{
  height: 61px;
  grid-column: 2/3;
  position: relative;
  top: 20px;
 }
#logo{
    height: 477px;
    background-image: url(weightlifting.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0px;
    margin: -8px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(12,1fr);
    padding: 0px;
    }
   #slogan{
    font-family: verdana;
    align-self: auto;
    color: white;
    position: relative;
    font-size: x-large;
    font-weight: 700;
    grid-column: 1/4;
    top: 15px;
    grid-row: 8;
    text-align: center;
   }
   #fitlogo{
       height: 61px;
       grid-row: 7;
       grid-column: 2;
       position: relative;
       top: 11px;
   }
   .form{
  background-color: #e6e6e6;
  /* width: auto; */
  min-height: 200px;
  display: grid;
  grid-auto-columns: auto;
  margin-right: -8px;
  margin-top: 9px;
  overflow-x: hidden;
  /* overflow-x: hidden; */
  margin-left: -8px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(18,1fr);
  }
   #subscribetext{
    font-family: pt-serif;
    font-weight: bold;
    color:#05823e;
    font-size: large;
    text-align: center;
    grid-column: 1/4;
   }

   .inputbox{
    border-style: solid;
    border-width: medium;
    height: 23px;
    border-radius: 50px;
    border-color: #c9c9c9;
    
   }

   #Email{
    grid-row: 2;
    grid-column: 1/4;
    position: relative;
    top: 18px;
}

   #FirstName{grid-column: 1/4;grid-row: 2;position: relative;top: 79px;}

   label{
       font-family: Arial;
       font-weight: 500;
       /* text-align: justify; */
       left: 7px;
       position: relative;
       font-size: small;
   }

    #Emaillabel{grid-row: 2;grid-column: 1/3;}
    #FirstNamelabel{
        grid-row: 2;
        position: relative;
        top: 57px;
        grid-column: 1;
    }

#subscribebutton {
 background: #05823e;
 border: none;
 border-radius: 50px;
 color: white;
 height: 37px;
 grid-column: 2;
 grid-row: 3;
 position: relative;
 top: 25px;
 }

    .headings{
     font-family: Arial;
     font-weight: 700;
     font-size: larger;
     position: relative;
     left: 86px;
     color:#05823e;
    }
    #services{
              font-size: x-large;
              grid-column: 1/3;
              font-weight: bold;
              position: relative;
              left: 97px;
              grid-row: 3;
              color:  #05823e;
              top: 46px;
    }

        #training{
          grid-column: 1/4;
          position: relative;
          grid-row: 4/6;
    }


    .text{
        color: #463d3d;
        position: relative;
        grid-column: 1/4;
        line-height: 26px;
        font-family: Arial;
        z-index: 1;
    }
    #one{
        grid-column: 1/4;
        position: relative;
        grid-row: 6;
        top: 13px;
        font-family: Arial;
        left: 63px;
    }
    .images{
         width: 100%;
         height: 100%;
         /* justify-self: stretch; */
    }
    #text1{
        grid-row: 6/9;
        text-align: center;
        position: relative;
        top: 62px;
    }
    #resting{
        position: relative;
        grid-column: 1/4;
        grid-row: 9/11;
    }

    #text2{
        grid-row: 11/14;
        /* position: absolute; */
        grid-column: 1/4;
        font-size: medium;
        text-align: center;
        padding-left: 12px;
        padding-right: 7px;
        top: 47px;
        margin-left: -1px;
    }
    #text3{grid-column: 1/4;grid-row: 17/19;padding-right: 6px;text-align: center;}
    #running{grid-row: 17;grid-column: 1/4;position: relative;left: 76px;top: -48px;}
    #partner{grid-column: 1/4;grid-row: 11;}
    #runimage{
        grid-column: 1/4;
        grid-row: 14/16;
        position: relative;
        top: 59px;
    }

    .last{
        background-image: url(lastsection.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin: -19px;
        background-position-x: center;
        grid-template-columns:  1fr 1fr 1fr;
        overflow-x: hidden;
        grid-template-rows: repeat(10,1fr);
        display: grid;
        /* background-position-y: -42px; */
    }

    h2{
    position: relative;
    top: 30px;
    left: 25px;
    color: white;
    grid-row: 1;
    grid-column: 1/4;
}
 #firstparagraph {
  padding-left: 38px;
  font-size: initial;
  padding-right: 30px;
  color: white;
  grid-column: 1/4;
  line-height: 24px;
  grid-row: 2/5;
}

 #secondparagraph{padding-left: 36px;padding-right: 30px;
                  font-size: initial;color: white;
                  line-height: 24px;grid-column: 1/4;
                  grid-row: 5/9;top: 0px;}
#finalbutton{
    border-style: none;
    background:white;
    width: 113px;
    color:black;
    font-weight: bold;
    grid-row: 9;
    position: relative;
    left: -2px;
    top: 0px;
    font-size: 14px;
    border-radius: 14px;
    height: 49px;
    grid-column: 2;
    font-family: raleway;
}



@media screen and (min-width: 375px){

  .form {
 grid-template-columns: repeat(3,1fr);
}  
  
   #subscribetext{
   position:relative;
   top:27px;
   font-size: x-large;
   }

  
  
  #services{
        font-size: x-large;
        grid-column: 1/3;
        font-weight: bold;
        position: relative;
        left: 125px;
        grid-row: 3;
        color: #05823e;
        top: 50px;
        }

    #training{
          height: 100%;
          grid-column: 1/4;
          position: relative;
          top: 0px;
          grid-row: 4/6;
    }

    #one{
        position: relative;
        top: 13px;
        font-size: x-large;
        left: 63px;
    }
  
  #resting{
    position: relative;
    grid-column: 1/4;
    position: relative;
    top: 41px;
    grid-column: 1/4;
    grid-row: 8/10;
    }
  

  
   .headings{
     font-size: x-large;
   }

  
   #partner{
     grid-row: 10;
     top: 44px;
   }

   #text2{
     grid-row: 11/14;
     top: -29px;
   }

  #runimage {

    grid-row:13/15;
    top:0px
  }
 #running {
    grid-row:15;
   top:12px;
  }

  #text3 {
    grid-row:auto;
    top: -54px;
  }
  .form {
   grid-template-rows: repeat(16,1fr);
  }
 

 #firstparagraph {
  padding-left: 38px;
  font-size: initial;
  padding-right: 30px;
  color: white;
  grid-column: 1/4;
  line-height: 24px;
  grid-row: 2/5;
}

 #secondparagraph{padding-left: 36px;padding-right: 30px;
                  font-size: initial;color: white;
                  line-height: 24px;grid-column: 1/4;
                  grid-row: 5/9;top: 0px;}


#finalbutton {
    grid-row: 9;
  left:10px;
 top:0px;
   
}
}


@media screen and (min-width: 425px) {
 
  
  #slogan{
     letter-spacing:2px;
     font-size: 20px;
     }

  #logo{
        background-size: 100%;
        background-size: cover;
        background-position-x: center;
        }

  #subscribebutton {
  grid-row: 3;
  top: 0px;
  }
  
   #subscribetext{
   position:relative;
     top:27px;
     
   }

  #services{
        font-size: xx-large;
       
  }

    #training{
          grid-column: 1/4;
          position: relative;
          top: 0px;
          grid-row: 4/6;
    }


 #partner  {
   left: 122px;
 }

  #one{
    left: 79px;
  }
   #running{
     left: 101px;
   }
  
    }

@media screen and (min-width: 768px){

 /*First section*/
  
  #logo{
  background-position-x: 0px;
  }
    #fitlogo{
      height: 88%;
      grid-row: 6;
    }

  #slogan{
     grid-row: 7;
     font-size: 33px;
     }

  /*FORM*/
     
 #subscribetext{font-size: xx-large;grid-column: 1/7;}

 #Email,#FirstName{
   grid-column: 1/6;
   left: 50px;
   height: 28px;
}

.form{
   grid-template-columns: repeat(6,1fr);
   grid-template-rows: repeat(23,1fr);
}

    /*images*/

.images{
 width:100%;
 height: 100%;
 grid-column:1/7;
}


 #training{grid-column:1/7;grid-row: 4/8;top: 76px;}


#resting{
     grid-column: 1/7;
     grid-row: 11/15;
     top: 0px;
}

#runimage{
     grid-column: 1/7;
     grid-row: 18/22;
}
    /*fORM*/
#services{
 font-size: xxx-large;
 grid-column: 2/7;
 grid-row: 3/5;
 top: 51px;
 /* left: 117px; */
}

  #subscribebutton {
    grid-row: 3;
    height: 45px;
    left: 177px;
   top:25px;
}

#FirstName{
 top: 98px;
}
 #Email{
  top:20px;
 }

 label{font-size: large;left: 59px;}


#FirstNamelabel{grid-row:3;top: -57px;}


 /*texts*/
.text{
 grid-column: 1/7;
 line-height: 42px;
 /* font-size: x-large; */
}

#text1{
 grid-row: 9/11;
 font-size: x-large;
 top: 0px;
}

 #text2{
    grid-column: 1/7;
    font-size: x-large;
    grid-row: 15/18;
    top: 63px;
}
#text3{
 grid-column: 1/7;
 grid-row: 23;
 font-size: x-large;
}


   /*HEADINGS*/

   .headings{
    font-size: xx-large;
   }

 #one{
  z-index: 3;
  grid-row: 8;
  top: 68px;
  font-size: xx-large;
  left: 190px;
 }
#partner{
 grid-row: 15;
 grid-column: 3/7;
 left: 0px;
 top: -2px;
}

 #running{grid-row: 22;grid-column: 3/7;left: 0;}


                 /*LAST SECTION*/
.last{
 grid-template-rows: repeat(10,1fr);
 grid-template-columns: repeat(6,1fr);
}

.textlast{color:white;font-family: Arial;grid-column: 1/7;font-size: larger;line-height: 35px;text-align: left;padding-left: 26px;padding-right: 24px;}

 #firstparagraph{
  grid-row: 2/6;
  position: relative;
  grid-column: 1/7;
  line-height: 28px;
  top: 19px;
 }

 #secondparagraph{grid-row: 4/9;grid-column: 1/7;line-height: 28px;}

 h2{
  font-size: xx-large;
 }

 #finalbutton{grid-row: 7;top: 0px;grid-column: 3/6;left: 35px;width: 136px;height: 55px;font-size: large;}
 


#fitlogo2 {
    height: 61px;
    grid-column: 2;
    position: relative;
    top: 20px;
   left:50px;
}
}
      /*1024*/

@media screen and (min-width: 1024px){

/*first section*/

#fitlogo{
 position:relative;
 /* height: 127%; */
 top: 57px;
 /* left: 50px; */
}
 
 #slogan{font-size: 45px;}
 
 #subscribetext{
  font-size: 42px;
  grid-column: 1/7;
  letter-spacing: 0px;
  }
   /*second section*/
#FirstNamelabel{
 top: 76px;
 grid-row: 2;
}

#Email,#FirstName{
   grid-column: 2/7;
   left: -75px;
}

 label{
  left: 109px;
 }

#subscribebutton{grid-column: 1/6;left: 102px;height: 61px;font-size: larger;font-weight: 600;top: 0px;text-align: center;}


#services{
 grid-column: 4/7;
 left: -134px;
 top: 98px;
}

#one{
 grid-column: 3/7;
 left: -11px;
 top: 107px;
}


#text1{
 line-height: 60px;
 padding-left: 40px;
 padding-right: 53px;
}

 #text2{
  
 }


#partner{
 left: 50px;
}

#running{
 left: 50px;
}

#text3{
 line-height: 49px;
 padding-left: 40px;
 padding-right: 30px;
 top: -93px;
}
 #firstparagraph {
    grid-row: 2/6;
    position: relative;
    font-size: larger;
    grid-column: 1/7;
    line-height: 35px;
    top: 19px;
}
 #secondparagraph {
    grid-row: 5/9;
    top: 52px;
    grid-column: 1/7;
    font-size: larger;
    line-height: 35px;
}
 #finalbutton {
    grid-row: 8;
    top: 0px;
    grid-column: 3/6;
    left: 35px;
    width: 136px;
    height: 55px;
    font-size: large;
}
 #fitlogo2 {
    height: 61px;
    grid-column: 2;
    position: relative;
    top: 20px;
    left: 69px;
}
 
}

                /*1440*/ 


@media screen and (min-width: 1440px){

/* first section*/

#logo{
  height:700px;
  opacity: 97%;
  background-position-x: center;
}



#fitlogo {
    position: relative;
    height: 127%;
    left: 50px;
}
 
#slogan {
    top: 94px;
}

label {
    left: 176px;
    font-weight: 600;
}

 #services {
    grid-column: 4/7;
    left: -150px;
    top: -60px;
}


#training {
    height: 100%
    justify-self: center;
    width: 100%;
    grid-column: 1/7;
    grid-row: 3/7;
    top: 76px;
}


 .images{

      height: 80%;
    justify-self: center;
    width: 80%;
 }

 #one{
   top: 84px;
   grid-row: 7;
   left:40px;
 }

 #text1{top: -324px;}

 #resting {
    grid-column: 1/4;
    grid-row: 10/13;
    top: 0px;
    width:100%;
    top: -298px;
    border-right: solid;
    border-right-width: 9px;
    border-right-color: black;
}

#runimage {
    grid-column: 4/7;
    grid-row: 10/13;
    width:100%;
    top: -299px;
}


#text2 {
    grid-column: 1/4;
    font-size: x-large;
    grid-row: 12/14;
    top: -139px;
    border-right-style: solid;
}

 #text3 {
    grid-column: 4/7;
    font-size: x-large;
    grid-row: 12/13;
    top: -139px;
}

 #running {
   grid-row: 11;
   grid-column: 5/7;
   left:0px;
   top:30px;
}

 #partner {
   grid-row: 11;
   grid-column: 2/4;
   left: 0px;
   top:30px;
}

.form{
   grid-template-columns: repeat(6,1fr);
   grid-template-rows: repeat(13,1fr);
 overflow-y:hidden;
}




h2 {font-size: xxx-large;left: 83px;}

 #firstparagraph {
  padding-left: 98px;
  font-size: x-large;
  padding-right: 121px;
  line-height: 47px;
}

 #secondparagraph{padding-left: 98px;font-size: x-large;grid-row: 4/8;padding-right: 121px;line-height: 47px;/* top: 41px; */}


#finalbutton {
    grid-row: 7;
    left:110px;
    top: -70px;
}


#Email {
    grid-column: 2/7;
   top:-50px;
}
#FirstName{
 top:30px;
 
}
#Emaillabel {
    grid-row: 2;
    top:-80px;
}

#FirstNamelabel {
   top:0px;
    grid-row: 2;
}


#subscribebutton {
    grid-column: 3;
 grid-row: 2;
    left: 102px;
    height: 61px;
    font-size: larger;
    font-weight: 600;
    top: 100px;
    text-align: center;
}


 .headings {
    font-weight: bolder;
}

 #fitlogo2 {
    height: 61px;
    grid-column: 2;
    position: relative;
    top: 20px;
    left: 134px;
}
}
